* {
    margin: 0;
    padding: 0;
}

body{
        
    height: 100vh;
    background-color: #D2DDF8;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    
}

#titulo{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2em;
    width: 90%;
    
}

#titulo h2{
    color: blue;
    font-size: 30px;
    font-weight: bold;
    margin-left: 2%;
}

#titulo img{
    width: 20px;
    height: 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 

}

.label {
    display: flex;
    align-items: center;
    margin-right: 1.5em;
    margin-top: 1em;
    margin-bottom: 2em;
    font-size: 20px;
    font-weight: bold;
    color: blue;
}

.simnao{
    height: 2.5em;
    width: 12em;

    border-radius: 8px;
    border: none;

    font-size: 18px;
    font-weight: bold;

    margin: 10px;
    padding: 0%;
    color: blue;
    background-color: none;
}

.simnao:hover{
    cursor: pointer;
    color: white;
    background-color: blue;
}


#rodape{
    display: flex;
    justify-content: flex-end;
    position:absolute;
    bottom:0;
    width:100%;
    
}

#rodape img{
    width: 40px;
    height: 40px;
    margin-right: 2em;
    margin-bottom: 2em;
}